body {
    background-color: black;
}
header{
	position: sticky;
	top: 0;
    z-index: 99999999;
    background-color: black;
}
.navbar-brand img {
    width: 100px;
}
.navbar-toggler {
    background-color: brown;
}
.navbar-nav a{
    margin: 20px;
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
    transition: all .07s ease-in-out; 
}
.navbar-nav a:hover {
    color: brown;
}
.right-side{
    justify-content: end;
}
.rightSide {
    list-style: none;
}
.rightSide a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: all .07s ease-in-out; 
}
.rightSide button {
    background: aliceblue;
    text-decoration: none;
    border-style: none;
    border-radius: 7px;
    transition: all .07s ease-in-out; 
}
.rightSide button:hover{
    background: brown;
}
.sideBar {
    position: fixed;
	display: flex;
	flex-direction: column;
}
.side-bar-menu {
    color: aliceblue;
}
.side-bar-text {
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    transition: all .07s ease-in-out;
}
.side-bar-text:hover {
    color: brown;
    border-radius: 8px;
}

.category {
    color: brown;
}
.card {
    background-color: black;
}
.card img {
    height: 200px;
}
.card-title {
    color: aliceblue;
}

.card-price {
    color: aliceblue;
}
.add-cart {
	color: #000;
	background: aliceblue;
	border-radius: 8px;
	border: none;
	align-items: center;
	justify-content: center;
	transition: all .07s ease-in-out;
}
.add-cart:hover{
	background-color: brown;
	border-radius: 8px;
	color: aliceblue;
}
.quantity {
    display: none;
    margin-left: 10px;
}
  
.quantity button {
    border-radius: 8px;
    
}
  
.count {
    margin: 0 5px;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.wrapper {
    width: 420px;
    background: aliceblue;
    color: #000;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1 {
    color: brown;
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #000;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #000;
    margin-right: 3px;
}
.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .butn {
    width: 100%;
    height: 45px;
    background: brown;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: aliceblue;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a {
    text-decoration: underline;
}
.register-link img {
    width: 50px;
    height: 50px;
}

@media (max-width: 1000px) {
	.drop{
		display: none;
	}
}