{% extends "base.html" %}

{% block content %}
<div class="login"> 
    <div class="wrapper">
        <h1>Смена пароля</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="input-box">
                {{ f }}
            </div>
            <div class="form-error">
                {{ f.errors }}
            </div>
            {% endfor %}
            <button type="submit" class="butn">Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock  %}