{% extends "base.html" %}

{% block content %}
<div class="login"> 
    <div class="wrapper">
        <h1>Смена пароля</h1>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="input-box">
                {{f}}
            </div>
            <div class="form-error">
                {{ f.errors }}
            </div>
            {% endfor %}
            <button type="submit" class="butn">Сменить</button>
        </form>
    </div>
</div>
{% endblock  %}