{% extends "base.html" %}
{% load kebab_tags %}
{% load cart_tags %}

{% block modal_cart %}
{% include 'cart/includes/cart.html' %}
{% endblock  %}

{% block content %}
<section>
    <div class="container-fluid mt-4">
        <div class="row">
            {% include 'kebab/includes/sidebar.html' %}
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    {% for cat in cats %}
                    <div class="category my-2">
                        <h3 id="{{ cat.slug }}">{{ cat.name }}</h3>
                    </div>
                    {% get_products as products %}
                    {% for pr in products %}
                    {% if cat.id == pr.categories_id %}
                    <div class="col-lg-3 col-md-4 mt-4 mr-2">
                        <div class="card">
                            <img src="{{ pr.product_images.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ pr.product_name }}</h5>
                                <p class="card-price">{{ pr.product_price }} <small>₽</small></p>
                                <button class="add-cart"
                                data-product-id="{{ pr.id }}"
                                data-cart-add-url="{% url "cart:cart_add" %}">
                                    {% csrf_token %}
                                    Добавить</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            {% include "cart/includes/cart_content.html" %}
        </div>
    </div>            
</section>


{% endblock  %}